<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">

<head>
    <title>Pet - Petclinic</title>
</head>

<body>

    <section layout:fragment="page-content">
        <div class="container">
            <div class="mb-4">
                <h1><i class="bi bi-pencil-square"></i> Edit Pet</h1>
            </div>

            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="card p-5">
                        <form class="row g-4" th:object="${pet}" method="post"
                            th:action="@{/pets/edit/{Id}(Id=${pet.Id})}">
                            <div class="col-md-6">
                                <label for="inputName" class="form-label">
                                    <i class="bi bi-paw" style="color: #9c27b0;"></i> Pet Name
                                </label>
                                <input type="text" class="form-control" id="inputName" th:field="*{Name}"
                                    placeholder="Enter pet name">
                            </div>
                            <div class="col-md-6">
                                <label for="pettype" class="form-label">
                                    <i class="bi bi-tag" style="color: #9c27b0;"></i> Pet Type
                                </label>
                                <select name="PetTypeId" id="pettype" class="form-select">
                                    <option th:each="p : ${petTypes}" th:text="${p.Name}" th:selected="${p.Id==pet.PetTypeId}"
                                        th:value="${p.Id}"></option>
                                </select>
                            </div>
                            <div class="col-12 mt-4">
                                <div class="d-flex gap-3">
                                    <button type="submit" class="btn btn-primary px-5">
                                        <i class="bi bi-check-circle"></i> Update Pet
                                    </button>
                                    <a href="/pets" class="btn btn-outline-secondary px-5" style="border-radius: 25px;">
                                        <i class="bi bi-arrow-left"></i> Cancel
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <th:block layout:fragment="page-scripts">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"
            integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css"
            integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />

        <script>
            $('.datepicker').datepicker();
        </script>
    </th:block>

</body>

</html>